body {
    padding-top: 70px;
}

.hidden {
    display: none;
}
footer{
	position: fixed;
	bottom: 0px;
	margin: auto;
	width: 100%;
	text-align: center;
	background-color: #222222;
 	border-color: #080808;
 	color: #ffffff;
}